
@import url(http://fonts.googleapis.com/css?family=Nunito|Doppio+One|Montserrat);
@font-face {
	font-family: 'CalibriBold';
	src: url('../fonts/calibrib-webfont.eot');
	src: url('../fonts/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibrib-webfont.woff') format('woff'),
		url('../fonts/calibrib-webfont.ttf') format('truetype'),
		url('../fonts/calibrib-webfont.svg#CalibriBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CalibriRegular';
	src: url('../fonts/calibri-webfont.eot');
	src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibri-webfont.woff') format('woff'),
		url('../fonts/calibri-webfont.ttf') format('truetype'),
		url('../fonts/calibri-webfont.svg#CalibriRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
header, footer, article, section, hgroup, nav, figure { display: block; }
figure {
margin:0;
padding:0;
}
html,body{
	display:table;
	height:100%;
	width:100%;
}
body {
	margin:0;
	color:#1a1715;
	font: 17px/22px 'CalibriBold', 'Times New Roman', Arial, sans-serif;
	background:#231f1d;
	min-height:100%;
	min-width:987px;
	display:table-cell;
	vertical-align:middle;
}
p {
	margin:0;
	color:#1a1715;
	font: 14px/21px 'Montserrat', 'Times New Roman', Arial, sans-serif;
	text-shadow: 1px 1px 1px #aaa;
	line-height:22px;
	
}
h2 {
	margin:0;
	color:#1a1715;
	font: 17px/22px 'CalibriBold', 'Times New Roman', Arial, sans-serif;
	text-shadow: 1px 1px 1px #aaa;
	
}
img {border-style:none;}
a {
	color:#f3f3f3;
	text-decoration:none;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,
fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
q {quotes:none;}
q:before {content:''}
q:after {content:''}
.info-block .container:after {
	display:block;
	content:'';
	clear:both;
}
#wrapper {
	overflow:hidden;
	width:100%;
}
.main-block{
	overflow:hidden;
	background:#eae8e4 url(../images/bg-wrapper.gif) repeat-x 0 100%;
	width:100%;
}
.main-holder{
	width:987px;
	margin:22px auto 0;
}
.main-holder:after{
	content:'';	display:block;	clear:both;
}
.gallery{
	position:relative;
	float:right;
	width:257px;
	background:url(../images/sprite.png) no-repeat 0 -133px;
	height:388px;
	padding:106px 80px 12px 145px;
	z-index:100;
	/*margin:0 0 0 -150px;*/
}
.gallery ul{
	padding:0;	margin:0;	list-style:none;
	position:relative;
}
.gallery ul li{
	position:absolute;
	top:0;
	left:0;
	width:259px;
	height:388px;
}
.download-link{
	position:absolute;
	background:url(../images/sprite.png) no-repeat 0 -641px;
	width:108px;
	height:108px;
	top:-20px;
	left:92px;
	overflow:hidden;
	text-indent:-9999px;
}
.main-holder article{
	padding:48px 0 0 2px;
	position:relative;
	z-index:5;
	width:500px;
}
.logo{
	overflow:hidden;
	text-indent:-9999px;
	margin:0 0 -27px -3px;
	background:url(../images/sprite.png) no-repeat;
	width:575px;
	height:133px;
}
.logo a{
	display:block;
	height:100%;
	position:relative;
}
.main-holder h2{
	margin:0 0 30px 3px;
	font-size:24px;
	line-height:28px;
}
.main-holder p{
	margin:0 0 80px;
}
.social-networks{
	padding:0;	margin:0;	list-style:none;
	overflow:hidden;
	width:110%;
}
.social-networks li{
	float:left;
	margin:0 21px 0 0;
}
#footer{
	background:#1d1a18 url(../images/bg-footer.gif) repeat-x;
	min-height:375px;
}
.footer-holder{
	width:908px;
	margin:0 auto;
	padding:14px 74px 26px 5px;
}
.footer-holder:after{
	content:'';	display:block;	clear:both;
}
.info-block{
	letter-spacing:1px;
	float:left;
	position:relative;
	padding:15px 32px 0 0;
	font-weight:normal;
	width:324px;
	min-height:196px;
}
.info-block .alignright{
	float:right;
	position:relative;
	margin:-55px 0 0;
}
.info-block .container {
	width:215px;
}
.info-block h3{
	letter-spacing:0;
	font-size:30px;
	line-height:34px;
	margin:0 0 10px -5px;
}
.info-block p{
	letter-spacing:1px;
	margin:0 0 36px;
}
.platforms{
	float:right;
	text-align:center;
	padding:0 0 0 5px;
	color:#abbcc7;
	font-size:14px;
	line-height:18px;
}
.platforms .title{
	display:block;
	margin:0 0 7px;
}
.platforms ul{
	padding:0;	margin:0;	list-style:none;
	overflow:hidden;
}
.platforms li{
	display:inline-block;
	padding:0 20px 0 0;
	vertical-align:middle;
}
*+html .platforms li{display:inline;}
.platforms li:first-child{
	padding:0 12px 0 0;
}
.platforms img{
	display:block;
	vertical-align:middle;
}
.block{
	overflow:hidden;
	padding:2px 0 0;
	width: 290px;
}
.btn-appstore{
	display:block;
	background:url(../images/sprite.png) no-repeat 100% -662px;
	width:236px;
	height:85px;
	overflow:hidden;
	text-indent:-9999px;
	margin:0 0 25px 18px;
}
.btn-appstore2{
	display:block;
	background: no-repeat 100% -662px;
	width:236px;
	height:85px;
	overflow:hidden;
	text-indent:-9999px;
	margin:0 0 69px 10px;
}
.add-nav{
	padding:0;	margin:0 0 10px;	list-style:none;
	font-size:16px;
	line-height:20px;
}
.add-nav li{
	display:inline-block;
	padding:0 4px 0 8px;
	background:url(../images/bullet.gif) no-repeat 0 10px;
}
*+html .add-nav li{display:inline;}
.add-nav li:first-child{
	padding-left:0;
	background:none;
}
.copy{
	display:block;
	color:#f3f3f3;
	font-size:14px;
	line-height:18px;
	text-align:center;
}